.container{
    background: linear-gradient(to bottom, #A7A7A7,#FFFFFF);
    margin: 0;
    padding: 0.3rem 1rem;
}



.logo{
    height: 13px;
}

.content{
    margin: 1rem 0;
    border: 1px solid black;
    padding: 0.1rem ;
}

.introcontent{
    margin: 1rem 0;
    /* border: 1px solid black; */
    padding: 0.1rem ;
}

.introduce{
    border-radius: 10px;
    padding: 0.5rem;
    background-image: url('/images/snowtree.webp'),url('/images/snowtree.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    text-align:center;
}


.details{
    margin: 0 20%;
    /* border: 1px solid red; */
    list-style-type: "\1F44D";
}

.strong{
    color:#FF0800;
}

.point{
    color: #053E0A;
}

.gallery{
    border-radius: 10px;
    padding: 0.5rem;
    text-align:center;
}

.galleryBack{
    border-radius: 10px;
    padding: 0.5rem;
    text-align:center;
    background-image: url('/images/gallery.jpg');
    background-size:contain ;
}


.member{
    border-radius: 10px;
    padding: 0.5rem;
    text-align:center;
}

.member p a{
    color:#0072FF;
}

.member span{
    color:red;
}


.line{
    border-top:1px dashed #CCC
}

.footer{
    text-align: center;
    border-top: 1px solid  #D1D1D1;
    margin-bottom: 0.5rem;
}
